.graph-header {
  border-bottom: 1px solid #dee2e6 !important;
}
.chartjs-render-monitor{
    width: inherit !important;
    height: inherit !important;
}
.sets-graph-container{
    width: 928px ;
    height: 300px ;
}
.Time-graph-container{
    width: 928px ;
    height: 300px ;
}


  @media only screen and (min-width:576px){
    .sets-graph-container{
        width: 100% !important;
        height: 50vh ;
      
    }
    .Time-graph-container{
        width: 100% !important;
        height: 50vh ;
    }
  }

@media only screen and (max-width: 576px) {
    .sets-graph-container{
        width: 80vw ;
        height: 50vh ;
      
    }
    .Time-graph-container{
        width: 80vw ;
        height: 50vh ;
    }
  
  }