.popupModal {
    position: absolute;
    top: 124px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    z-index: 999;
}
.alertBox {
    /* width: 50%; */
    border-radius: 3rem;
    overflow-wrap: break-word;
    /* background-color: #fff; */
}
.roundFinishPopImage {
    max-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
.custom-button-sign-up {
    font-size: .8rem!important;
    border-radius: 10px;
    cursor: pointer;
    background-color: #2f45c5;
}