
* {
    font-family: Gilroy;
}
.dropdown-menu{
    left: -73px ;
    font-family: Gilroy-Bold!important;
    border: none;
    box-shadow: 0 1px 4px 0 #dadada!important;
    border-radius: 1.05rem!important;
    }
    .dropdown-item{

        font-family: Gilroy!important;
        border-radius: .6em;
    }
    @media screen and (min-width:352px) and (max-width:500px){
        .backbutton>span>h4{
            padding-left: 50%;
        }
        
    }
    .signin-header{
        
        border-radius: 10px;
        cursor: pointer;
        background-color: #2f45c5;
        text-align: center;
        font-size: initial;
        text-decoration: none;
    }