  .fade{
      transition: none !important;
  }
  .modal-backdrop{
    display: none !important;
  }
  
  .modal-backdrop {
    opacity: 0 !important;
  }
  .modal-terms-body {
    width: 100vw;
    transition: none !important;
    right: 100px;
    bottom: 0;
    left: 0;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
  }
  .my-modal {
    width: 90vw;
    max-width: 90vw;
  }
  .modal-content {
    padding: 1.5rem !important;
    width: 962px !important;
    border-radius: 0.8rem !important;
  }
  .modal-body {
    padding-top: 0px !important;
    height: 480px;
    overflow-y: scroll;
  }
  .modal-dialog {
    margin: 85px 45px 0px 45px !important;
    z-index: 9999999;
    transition: none !important;
  }


  
  
  @media only screen and (min-width: 1392px) and (max-width: 1540px) {
    .modal-terms-body .modal-dialog .modal-content {
      width: 57vw !important;
    }
    
  }



  @media only screen and (max-width: 1392px) {
    .modal-terms-body .modal-dialog .modal-content {
      width: 100vw !important;
    }
    .modal-terms-body .modal-dialog{
      margin: 85px 20px  0px 0 !important;
    }
   
  }