.play-container {
  /* background-color:#000; */
}
.logo-play {
  position: absolute;
  top: 52px;
  left: 25px;
  background: white;
  padding: 8px 24px;
  border-radius: 0.8rem;
  /* z-index: 9999; */
}
#myVideo {
  width: 100%;
  object-fit: contain;
  transform: scale(1.9);
  height: 100vh;
}
@media (max-width:920px) {
  #myVideo {
    width: 100%;
    object-fit: contain;
    transform: scale(2.5);
    height: 100vh;
  }
}
.w-100 {
  width: 100%;
}
.display-time {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
}
@keyframes buttonTransition {
  100% {
    r: 25%;
  }
  75% {
    r: 35%;
  }
  50% {
    r: 25%;
  }
  25% {
    r: 15%;
  }
  0% {
    r: 25%;
  }
}

@keyframes buttonTransition2 {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1256;
  }
}

.innerCircle {
  /* animation-duration: 4s; */
  transition: all ease-in-out;
  /* animation-name: buttonTransition; */
  animation-duration: unset;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.innercircle-two {
  /* animation-duration: 4s; */
  transition: all ease-in-out;
  animation-name: buttonTransition;
  animation-duration: unset;
}
#shape {
  /* transform: rotate(-90deg); */
  transition: 0s;
  transform-origin: center;
  animation-delay: 0s;
  animation-duration: unset;
  animation-iteration-count: 1;
  animation-timing-function: linear;
}

/* .shape-two {
    transform: rotate(-90deg);

    transition: 0s;
    transform-origin: center;
    animation-delay: 0s;
    
    animation-timing-function: linear;
    animation-name: buttonTransition2;
  } */
.play-button {
  cursor: pointer;
  position: relative;
  top: 260px;
  z-index: 999;
}
.timer-type {
  position: absolute;
  top: 328px;
  left: 0;
  right: 0;
  color: white;
  font-size: larger;
}
.timer {
  position: absolute;
  top: 283px;
  left: 0;
  right: 0;
  color: white;
  font-size: larger;
  z-index: 999;
}
.start-over-section {
  position: absolute;
  top: 540px;
  left: 0;
  right: 0;
  z-index: 9999;
}

.start-over {
  background-color: #fd7279 !important;
}

/* new css for outercircle */
@keyframes buttonTransition1 {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1256;
  }
}
@keyframes buttonTransition2 {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 1256;
  }
}

#shape {
  transition: 0s;
  transform-origin: center;
  transform: rotate(90deg) scaleX(-1) !important;
  /* transform: rotate(-90deg); */
  stroke: #fd7279;
  stroke-width: 15;
  stroke-linecap: round;
  fill: none;
  stroke-dasharray: 1256;
  stroke-dashoffset: 0;
  animation-timing-function: linear;
}
.shape-one {
  animation-name: buttonTransition1;
}
.shape-two {
  animation-name: buttonTransition2;
}
