.profile-container{
    /* background-color: #2f45c5; */
    height: 100%;
}
.profile-input{
        display: -webkit-inline-box;
        /* cursor: not-allowed; */
        color: #495057;
        background-color: #ebebeb!important;
        
        
    }
    .form-group{
            display: block;
        text-align: left;
        position: relative;
    }
.edit-button{
    height: 36px;
    width: 36px;
    padding: 2px;
    cursor: pointer;
    
    border-radius: 20px;
    border: 1px solid #2f45c5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f45c5;
}
.mystyle{
    background-color: #ebebeb!important;
    cursor: auto;
}
.submitButton{
    height: 36px;
    position: absolute;
    width: 36px;
    top: -36px;
    cursor: pointer;
    right: 54px;
    padding: 2px;
    border: 1px solid #2f45c5;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2f45c5;
}
.image-upload{
    width: 25px;
    height: 25px;
    position: absolute;
    top: -63px;
    /* background: aliceblue; */
    background-color: #ebebfc;
    border-radius: 50%;
    left: 136px;
}
.error-messege{
    position: absolute;
    top: 82px;
  
    color: red;
    font-size: smaller;
}
.modal-box{
    top: -14%;
    z-index: 99;
    position: absolute;
    left: 30%;
    height: 55%;
    width: 39%;
    margin: auto auto;
    background: #fff;
    padding: 0 30px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
    border-radius: 34px;
}
.crop-box{
    top: -110px;
    z-index: 100;
    position: absolute;
    left: 22%;
    /* height: 70vh; */
    padding: 20px;
    width: 63%;
    margin: auto auto;
    background: #fff;
    padding: -12px 19px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
    border-radius: 34px;
}
.ReactCrop__image{
    height: 160px;
    width: 160px;
    /* border-radius: 50%; */
}
.Cropped_Img{
    border-radius: 50%;
    width: 140px;
    height: 140px;
}
.preview-box{   
    top: -110px;
    z-index: 99;
    position: absolute;
    left: 22%;
   
    padding: 20px;
    width: 63%;
    margin: auto auto;
    background: #fff;
    padding: -12px 19px;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 50%);
    border-radius: 34px;
}
.save-button{
    width: 71px;
}
.select-image{
    position: absolute;
    top: 118px;
    left: 71px;
}
.image-fa-icon{
    background-color: #ebebfc;
    border-radius: 50%;
    border: 1px solid #2f45c5;
    color: #2f45c5;
    padding: 4px ;
    height: 24px!important;
    width: 24px!important;
   
}
.remove-image{
   cursor: pointer;
   font-size: small;
}
.bg-danger{

    color: white;
}
.bg-success {
    background-color: #28a745!important;
    color: white;
    border: none;
}
.bg-success:hover {
    background-color: #2f45c5;
}
.change-password
{
    color: white;
    background-color: #2f45c5;
    border: none;
    font-size: .8rem!important;
    border-radius: 10px;
    cursor: pointer;
}